{
  "presets": [
    "env",
    "stage-3"
  ],
  "env": {
        "development": {
            "sourceMaps": "inline",
            "plugins": ["source-map-support"]
        }
    },
  "plugins": ["transform-es2015-destructuring"]
}
